<!DOCTYPE html>
<html lang="en">
<style>

table, td {
  border: 1px solid black; 
  padding: 10px; 
  border-collapse: collapse;
  text-align: center;
}

th {
  background-color: #B2C3CC;
  color: white; 
  border: 1px solid black; 
  height: 40px; 
  padding: 10px; 
}


tr:hover {background-color: #f5f5f5;}
tr:nth-child(even) {background-color: #f2f2f2;}
.return {
    background-color: grey;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    padding: 5px;
}


</style>

<p>Clinic Portal Logins</p>

<table>
    <th>Login ID</th>
    <tbody>
        {% for n in data %}
        <tr>
            <td>{{n[0]}}</td>
       </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<br>
<a href="/clinic_portal" class="return">Return to Clinic Portal</a>

<br>
