body{ 
      font-size: 15pt;
      font-family: arial;
}

.title {
  text-align: center;
}

.subheading {
  text-align: center;
}

.buttons-container {
  display: flex;
  padding-top: 10%;
}

.child {
  flex: 1;
  text-align: center;
}

.child:first-child {
  margin-right: 20px;
}

.buttons-container .child .b1 {
  background-color: #B2C3CC;
  border: none;
  color: white;
  padding: 10% 10%;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}