<!DOCTYPE html>
<html lang="en">
<style>
  body{ 
      font-size: 15pt;
      font-family: arial;
  }

  .title {
    text-align: center;
  }

  .subheading {
    text-align: center;
    padding: 2%;
  }

  .form-container {
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
  }

  .return {
    background-color: grey;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
  }

  p {text-align: center;}


</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Returning Patient Login</title>
</head>

<body>
  <a href="/patient_portal" class="return">Return to Patient Portal</a>
  <br>
  <br>
  <h1 class="title">Welcome to the Columbia Student Clinic</h1> 
  <h4 class="subheading">All patients must login with their name and date of birth in order to access files.</h2>

  <div class="form-container">
    <form method="POST" action="/patient_portal/returning_patient">
        <p>Name: <input type="text" name="name"></p>
        <p>DOB [YYYY-MM-DD]: <input type="text" name="dob"></p>
        <p><input type="submit" value="Login"></p>
    </form>
  </div>

</body>

<br>
<br>
<a href="/" class="return">Return to Home Page</a>


</html>
